.wrapper {
    background-color: var(--theme-1);
    height: 100%;
    display: flex;
}

.sidebar {
    flex: 0 0 auto;
    width: calc(var(--nav-icon-size) + 2 * var(--nav-gap));
    height: 100%;
    transition: all 400ms ease-in-out;
    transition-delay: 50ms;
    min-width: calc(var(--nav-icon-size) + 2 * var(--nav-gap));
}

.clickNet {
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 0vh;
    z-index: 29;
}

.main {
    color: var(--theme-5);
    flex: 1 0 0%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    transition-delay: 50ms;
}

// Medium threshold
@media (min-width: 1200px) {
    .sidebar.push {
        width: var(--nav-per);
        min-width: var(--nav-min);
        max-width: var(--nav-max);
    }
}

@media (max-width: 1200px) {
    .clickNet.enabled {
        width: 100vw;
        height: 100vh;
    }

    .main.blur {
        filter: blur(2px);
    }
}

// Small threshold
@media (max-width: 576px) {
    .sidebar {
        width: 0;
        min-width: 0;
    }
}
