<div class="wrapper">
    <div>
        <h3> Ciphertext: </h3>
        <textarea id="ciphertext"
                  placeholder="Enter text here"
                  onkeydown="return /[a-z ]/i.test(event.key)"></textarea>
    </div>

    <div>
        <h3> Crib: </h3>
        <textarea id="crib"
                  placeholder="Enter text here"
                  onkeydown="return /[a-z ]/i.test(event.key)"></textarea>
    </div>

    <div class="buttonGroup">
        <button (click)="analyze()">Submit</button>
        <button (click)="clear()">Clear</button>
    </div>

    <div>
        <div *ngIf="output">
            <h4> Result:</h4>
            <div class="output">
                <div>{{ ciphertext }}</div>
                <div>{{ buffer }}{{ crib }}</div>
                <div>{{ buffer }}{{ output }}</div>
            </div>
        </div>

        <div *ngIf="error" class="error">{{ errorMsg }}</div>

        <div *ngIf="output" class="buttonGroup">
            <button (click)="shift(-3)"><fa-icon [icon]="['fas', 'backward-fast']"></fa-icon></button>
            <button (click)="shift(-2)"><fa-icon [icon]="['fas', 'backward']"></fa-icon></button>
            <button (click)="shift(-1)"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
            <button (click)="shift(1)"><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon></button>
            <button (click)="shift(2)"><fa-icon [icon]="['fas', 'forward']"></fa-icon></button>
            <button (click)="shift(3)"><fa-icon [icon]="['fas', 'forward-fast']"></fa-icon></button>
        </div>
    </div>
</div>
