<div class="burger" (click)="toggleNav()">
    <div class="topBun angle" id="b1"></div>
    <div class="patty hide" id="b2"></div>
    <div class="botBun angle" id="b3"></div>
</div>

<nav class="show" id="nav">
    <ul>
        <li *ngFor="let item of navItems"
            [routerLink]="[item.title]"
            (keydown.enter)="onKeyDownEvent(item.title)"
            (click)="closeNav()">

            <div class="navIcon"><fa-icon [icon]="item.icon"></fa-icon></div>
            <div class="navText"><span>{{ item.title }}&nbsp;</span></div>
        </li>
    </ul>
    <div class="navTheme" (click)="toggleTheme()">
        <fa-icon [icon]="['fas', 'sun']" class="mode" id="light"></fa-icon>
        <fa-icon [icon]="['fas', 'moon']" class="mode show" id="dark"></fa-icon>
    </div>
</nav>
