.burger {
    position: absolute;
    height: var(--nav-icon-size);
    width: var(--nav-icon-size);
    top: var(--nav-gap);
    left: var(--nav-gap);
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
    transition: all 400ms ease-in-out;
    background: var(--theme-6);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 0.72em var(--theme-10);
    }
}

.topBun, .patty, .botBun {
    position: absolute;
    top: 50%;
    left: 25%;
    width: calc(var(--nav-icon-size) / 2);
    height: 3px;
    background-color: var(--theme-1);
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
    animation-delay: 50ms;
}

.topBun {
    transform: translateY(calc(var(--nav-icon-size) * -1 / 6));
}

.botBun {
    transform: translateY(calc(var(--nav-icon-size) * 1 / 6));
}

.topBun.angle {
    transform: rotate(42deg);
}

.patty.hide {
    opacity: 0;
}

.botBun.angle {
    transform: rotate(-42deg);
}

.navTheme {
    position: absolute;
    bottom: var(--nav-gap);
    left: var(--nav-gap);
    border-radius: 50%;
    height: var(--nav-icon-size);
    width: var(--nav-icon-size);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--nav-icon-size) * 2 / 3);
    color: var(--theme-7);

    &:hover {
        transform: scale(1.1);
    }
}

.mode {
    position: absolute;
    transition: all 200ms ease-in-out;
    opacity: 0%;
}

.mode.show {
    opacity: 100%;
}

nav {
    background: var(--theme-2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--nav-icon-size) + 2 * var(--nav-gap));
    min-width: calc(var(--nav-icon-size) + 2 * var(--nav-gap));
    transition: all 400ms ease-in-out;
    transition-delay: 50ms;
    z-index: 49;
    box-shadow: 0px 0px 0.72em var(--theme-10);

    ul {
        padding-left: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        li {
            height: var(--nav-icon-size);
            margin: var(--nav-gap) var(--nav-gap) var(--nav-gap) var(--nav-gap);
            font-size: calc(var(--nav-icon-size) / 2);
            color: var(--theme-7);
            line-height: 2;
            letter-spacing: 0px;
            text-transform: uppercase;
            display: flex;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 0px 0.72em var(--theme-10);
                background: rgba(255, 255, 255, 0.1);
            }

            .navIcon {
                height: var(--nav-icon-size);
                width: var(--nav-icon-size);
                cursor: pointer;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: calc(var(--nav-icon-size) * 2 / 3);
            }

            .navText {
                display: flex;
                align-items: center;
                justify-content: right;
                height: var(--nav-icon-size);
                cursor: pointer;
                flex: 1 0 0%;
                opacity: 0%;
                font-size: 0px;
                transition: all 400ms ease-in-out;
                transition-delay: 50ms;
            }
        }
    }
}

nav.show {
    width: var(--nav-per);
    min-width: var(--nav-min);
    max-width: var(--nav-max);

    ul {
        li {

            .navText {
                opacity: 100%;
                font-size: calc(var(--nav-icon-size) / 2);
            }
        }
    }
}

// Small threshold
@media (max-width: 576px) {
    nav {
        left: -260px;
        width: var(--nav-per);
        min-width: var(--nav-min);
        box-shadow: none;
    }

    nav.show {
        left: 0px;
        box-shadow: 0px 0px 0.72em var(--theme-10);
    }
}
